#admin panel
/admin-panel/node_modules
/admin-panel/.vscode
/admin-panel/package-lock.json


/admin-panel/npm-debug.log*
/admin-panel/yarn-debug.log*
/admin-panel/yarn-error.log*

#apis 
/apis/node_modules
/apis/.vscode
/apis/package-lock.json


/apis/npm-debug.log*
/apis/yarn-debug.log*
/apis/yarn-error.log*

#web
/website/node_modules
/website/.vscode
/website/package-lock.json


/website/npm-debug.log*
/website/yarn-debug.log*
/website/yarn-error.log*
